<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <ul>
                <li><a href="/"><img src="/img/logo 1.png" alt="logo"></a></li>
            </ul>
        </div>
        <div class="lupa">
            <form action="">
                <input placeholder="Buscar productos,marcas y mas..." type="text">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/productDetail">Categorias</a></li>
                <li><a href="/register">Crea tu cuenta</a></li>
                <li><a href="/login">Ingresa</a></li>
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>

    </header>
    <main>

    </main>
    <footer class="footer">
        <div class="logo2">
            <img src="/img/logo 1.png" alt="logo">
        </div>
        <ul class="client">
            <li><a>Aatencion al cliente: 0810 999 6644 LU-VI de 09:00 a 18:00 SA de 9:00 a 13:00</a></li>
        </ul>
        <ul class="telefonica">
            <li><a>Venta telefonica: 0810 222 3700 LU-VI de 8:00 a 20:00 SA-DO-Feriados 9:00 a 21:00</a></li>
        </ul>
        <ul class="newhome">
            <li>Comprar en newhomearg.com.ar Trabaja con nosotros Recibi ofertas y promociones</li>
        </ul>
        <div class="lupa2">
            <form action="">
                <input placeholder="Ingresa tu email" type="text">
            </form>
        </div>
        <div class="redes">
            <i class="fa-brands fa-whatsapp"></i>  
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <p class="info">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta a la verificacion de stock</p>

    </footer>
    
</body>
</html>