<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>

<body class="body">
    <header class="header">
        <section class="header__section">
        <div class="header__section__text">
            <h1>New Home</h1>
            <p>- Lo mejor para tu hogar -</p>   
        </div>
        <div class="header__section__img">
            <a><img class="header__section__logo" src="/img/logo2.jpg" alt="logo"></a>
        </div>
         <div class="header__section__menu">
            <i id="burguer" class="fa-solid fa-bars"></i>
            <form class="header__section__barra" action="">
            <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
            <button class="header__section__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <nav class="header__nav">
            <ul>
                <li class="header__nav__li"><a href="/register">Crear cuenta</a></li>
                <li class="header__nav__li"><a href="/login">Ingresa</a></li>
                <li class="header__nav__li"><a href="/productDetail">Categorias</a></li>
                <li class="header__nav__li"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>   
        </section>     
    </header>
    <main class="main">
        <img class="main__section__banner__img" src="/img/ofertas-banner2.jpg" alt="">
        <h2>Lo mejor para tu hogar</h2>
        <section class="main__section">
            
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/secarropas.jpg" alt="">
            <div class="main__section__texto">
            <h5>Secarropas centrífugo Koh-i-noor</h5>
            <p class="">$35.999</p>
            <p class="">10% OFF</p>  
            </div>    
            </div> 
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/heladera.jpg" alt="">
            <div class="main__section__texto">
            <h5>Heladera inverter no frost Samsung</h5> 
            <p class="">$158.190</p>
            <p class="">15% OFF</p>
            </div> 
            </div>
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/lavarropas2.jpg" alt="">
            <div class="main__section__texto">
            <h5>Lavarropas automático Whirlpool</h5>
            <p class="">$100.499</p>
            <p class="">20% OFF</p> 
            </div>   
            </div>
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/ropero.jpg" alt="">
            <div class="main__section__texto">
            <h5>Ropero de madera</h5>
            <p class="">$45.065</p>
            <p class="">10% OFF</p>
            </div>     
            </div>  
            </div>
            <div class="main__section__caja">
                <img class ="main__section__img" src="/img/ventilador.jpg" alt="">
                <div class="main__section__texto">
                <h5>Ventilador de techo Liliana</h5>
                <p class="">$44.899</p>
                <p class="">15% OFF</p>
                </div>     
                </div>
                <div class="main__section__caja">
                    <img class ="main__section__img" src="/img/colchon.jpg" alt="">
                    <div class="main__section__texto">
                    <h5>Colchón 1 plaza de espuma</h5>
                    <p class="">$47.599</p>
                    <p class="">20% OFF</p>
                    </div>     
                    </div>
            <div class="main__section__img__banner">                
                <h2>Ofertas en todos los productos</h2>
                <img class="main__section__banner__img__2" src="/img/banner4.jpg" alt="">
            <h2>Mejores ofertas</h2>
            </div>    
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/cocina.jpg" alt="">
            <div class="main__section__texto">
            <h5>Cocina Electrolux</h5>
            <p class="">$189.799</p>
            <p class="">30% OFF</p>
            </div>     
            </div> 
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/tostadora.png" alt="">
            <div class="main__section__texto">
            <h5>Tostadora Moulinex Vita</h5> 
            <p class="">$7.590</p>
            <p class="">35% OFF</p>
            </div> 
            </div>
            <div class="main__section__caja">
            <img class ="main__section__img" src="/img/inodoro.jpg" alt="">
            <div class="main__section__texto">
            <h5>Inodoro Prunus One Piece</h5>
            <p class="">$37.012</p>
            <p class="">30% OFF</p>
            </div>     
            </div>
            <div class="main__section__caja">
                <img class ="main__section__img" src="/img/tacho.jpg" alt="">
                <div class="main__section__texto">
                <h5>Cesto Tacho Basura Acero Inoxidable Pedal</h5>
                <p class="">$4.990</p>
                <p class="">50% OFF</p>
                </div>     
                </div>
                <div class="main__section__caja">
                    <img class ="main__section__img" src="/img/sillon.jpg" alt="">
                    <div class="main__section__texto">
                    <h5>Sillon Capitone Premium</h5>
                    <p class="">$19.999</p>
                    <p class="">40% OFF</p>
                    </div>     
                    </div>
                    <div class="main__section__caja">
                        <img class ="main__section__img" src="/img/tv1.jpg" alt="">
                        <div class="main__section__texto">
                        <h5>Smart TV Samsung</h5>
                        <p class="">$112.999</p>
                        <p class="">25% OFF</p>
                        </div>     
                        </div>
        </section>
        <a href="/"><img class="main__section__logo" src="/img/logo2.jpg" alt="logo"></a>
    </main>

    <footer class="footer">
        <p class="footer__p">Comprar en <a href="">newhomearg.com.ar</a></p>
        <section class="footer__section">
            <div class="footer__section__textos">
            <p class="footer__text">Atencion al cliente:
            0810 999 6644 LU-VI de 09:00 a 18:00
            SA de 9:00 a 13:00</p>
            <p class="footer__text2">Venta telefonica:
            0810 222 3700
            LU-VI de 8:00 a 20:00
            SA-DO-Feriados 9:00 a 21:00</p>
            <p class="footer__text3">
            Las fotos son ilustrativas. La compra de cualquier de los producto publicados
            esta sujeto a la verificacion de stock
            </p>       
            </div>
        <div class="footer__section__buscador">
        <p>Recibi ofertas y promociones</p> 
        <form action="">
            <input class="footer__barra" placeholder="Ingresa tu email" type="text">
        </form>  
        </div>
        <div class="footer__section__logos">
                <i class="fa-brands fa-whatsapp i"></i>
                <i class="fa-brands fa-facebook i2"></i>
                <i class="fa-brands fa-instagram i3"></i>  
        </div>
        </section> 
    </footer>
</body>
</html>