<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>

<body class="body">
    <header class="header">
        <section class="header__section">
        <div class="section__text">
            <h1>New Home</h1>
            <p>- Lo mejor para tu hogar -</p>   
        </div>
         <div class="section__menu">
            <i class="fa-solid fa-bars"></i>
            <a class="section__pl-100"><img src="/img/logo 1.png" alt="logo"></a>
            <form class="w-100 text-center" action="">
            <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>   
        </section>
        <nav class="section__d-flex__justi-end">
            <ul class="menu d-flex vw-35 text-center j-between">
                <li><a class="c-white " href="/productDetail">Categorias</a></li>
                <div class="d-flex">
                    <li><a class="c-white p-10" href="/register">Crea tu cuenta</a></li>
                    <li><a class="c-white p-10" href="/login">Ingresa</a></li>
                    <li><a class="c-white p-10" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </div>
            </ul>
        </nav>
    </header>




    <main class="main">
        <section class="main__section">
            <img class="main__section__banner__img" src="/img/ofertas-banner2.jpg" alt="">    
            <h2>Recomendado para ti</h2>
            <div class="main__section__recomendado">
            <img class ="main__section__img" src="/img/aire.jpg" alt="">
            <h5>Aire acondicionado</h5>
            <p class="">$109.999</p>
            <p class="">20% OFF</p>    
            </div> 
            <div class="main__section__recomendado">
            <img class ="main__section__img" src="/img/heladera.jpg" alt="">
            <h5>Heladera</h5> 
            <p class="">$159.999</p>
            <p class="">15% OFF</p>
            </div>
            <div class="main__section__recomendado">
            <img class ="main__section__img" src="/img/lavarropa.jpg" alt="">
            <h5>Lavarropa</h5>
            <p class="">$69.999</p>
            <p class="">30% OFF</p>    
            </div>
            <div>
                <img class="main__section__ofertas" src="/img/ofertas.jpg" alt="">
                <p>Ofertas en productos Samsung</p>
            </div>

            <h2>Lo mejor para tu hogar</h2>
            <div class="main__section__ofertas">
            <img class ="main__section__img" src="/img/cocina.jpg" alt="">
            <h5>Cocina</h5>
            <p class="">$59.999</p>
            <p class="">40% OFF</p>    
            </div> 
            <div class="main__section__ofertas">
            <img class ="main__section__img" src="/img/tostadora.png" alt="">
            <h5>Tostadora</h5> 
            <p class="">$5.999</p>
            <p class="">5% OFF</p>
            </div>
            <div class="main__section__ofertas">
            <img class ="main__section__img" src="/img/tv.jpg" alt="">
            <h5>TV</h5>
            <p class="">$112.999</p>
            <p class="">25% OFF</p>    
            </div>
        </section>
    </main>




    <footer class="footer">
        <div class="d-flex j-around">
            <img class="mt-20" width="40px" height="40px" src="/img/logo 1.png" alt="logo">
            <ul>
                <p>Aatencion al cliente:</p>
                <li>0810 999 6644</li>
                <li>LU-VI de 09:00 a 18:00</li>
                <li>SA de 9:00 a 13:00</li>
            </ul>
            <ul>
                <p>Venta telefonica:</p>
                <li>0810 222 3700</li>
                <li>LU-VI de 8:00 a 20:00</li>
                <li>SA-DO-Feriados 9:00 a 21:00</li>
            </ul>
            <ul>
                <li>Comprar en newhomearg.com.ar</li>
                <li>Trabaja con nosotros</li>
                <li>ofertas y promociones</li>
            </ul>
        </div>
        <div class="d-flex  j-between">
            <p class="">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                a la
                verificacion de stock</p>
            <form class="w-60 justi-end d-flex" action="">
                <input placeholder="Ingresa tu email" type="text">
            </form>
            <ul class="d-flex">
                <li><i class="fa-brands fa-whatsapp i"></i></li>
                <li><i class="fa-brands fa-facebook i2"></i></li>
                <li><i class="fa-brands fa-instagram i3"></i></li>
            </ul>
        </div>
    </footer>

</body>

</html>