<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <div class="d-flex a-center">
            <a class="pl-100" href="/"><img src="/img/logo 1.png" alt="logo"></a>
            <form class="w-100 text-center" action="">
                <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <nav class="d-flex justi-end">
            <ul class="menu d-flex vw-35 text-center j-between">
                <li><a class="c-white " href="/productDetail">Categorias</a></li>
                <div class="d-flex">
                    <li><a class="c-white p-10" href="/register">Crea tu cuenta</a></li>
                    <li><a class="c-white p-10" href="/login">Ingresa</a></li>
                    <li><a class="c-white p-10" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </div>
            </ul>
        </nav>

    </header>
    <main>

    </main>
    <footer class="footer">
        <div class="d-flex j-around">
            <img class="mt-20" width="40px" height="40px" src="/img/logo 1.png" alt="logo">
            <ul>
                <p>Aatencion al cliente:</p>
                <li>0810 999 6644</li>
                <li>LU-VI de 09:00 a 18:00</li>
                <li>SA de 9:00 a 13:00</li>
            </ul>
            <ul>
                <p>Venta telefonica:</p>
                <li>0810 222 3700</li>
                <li>LU-VI de 8:00 a 20:00</li>
                <li>SA-DO-Feriados 9:00 a 21:00</li>
            </ul>
            <ul>
                <li>Comprar en newhomearg.com.ar</li>
                <li>Trabaja con nosotros</li>
                <li>ofertas y promociones</li>
            </ul>
        </div>
        <div class="d-flex  j-between">
            <p class="">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                a la
                verificacion de stock</p>
            <form class="w-60 justi-end d-flex" action="">
                <input placeholder="Ingresa tu email" type="text">
            </form>
            <ul class="d-flex">
                <li><i class="fa-brands fa-whatsapp i"></i></li>
                <li><i class="fa-brands fa-facebook i2"></i></li>
                <li><i class="fa-brands fa-instagram i3"></i></li>
            </ul>
        </div>

    </footer>
</body>

</html>