<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="d-flex a-center">
            <div>
                <a class="pl-100" href="/"><img src="/img/logo 1.png" alt="logo"></a>
            </div>
            <form class="w-100 text-center" action="">
                <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <nav class="d-flex justi-end">
            <ul class="menu d-flex vw-35 text-center j-between">
                <li><a class="c-white " href="/productDetail">Categorias</a></li>
                <div class="d-flex">
                    <li><a class="c-white p-10" href="/register">Crea tu cuenta</a></li>
                    <li><a class="c-white p-10" href="/login">Ingresa</a></li>
                    <li><a class="c-white p-10" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </div>
            </ul>
        </nav>

    </header>
    <main>
        <h1>Register</h1>
        <form action="/register" method="post">
            <div>
                <label for="nombre">Nombre de usuario</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="password2">Confirmar contraseña</label>
                <input type="password" name="password2" id="password2">
            </div>
            
            <div>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name">
            </div>
            
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido">
            </div>
            
            <div>
                <label for="telefono">Telefono</label>
                <input type="tel" name="telefono" id="telefono">
            </div>
            <div>
                <label>Pais</label>
                <select name="Pais" id="">
                    <option value="1">Argentina</option>
                    <option value="2">Peru</option>
                    <option value="3">Paraguay</option>
                    <option value="4">Uruguay</option>
                    <option value="5">Chile</option>
                    <option value="6">Brazil</option>
                </select>
            </div>
            <div>
                <label>Moneda</label>
                <select name="Moneda" id="">
                    <option value="1">Peso Argentino</option>
                    <option value="2">Soles</option>
                    <option value="3">Peso Paraguayo</option>
                    <option value="4">Peso Uruguayo</option>
                    <option value="5">Peso chileno</option>
                    <option value="6">Real</option>
                </select>
            </div>
            <button type="submit">Abrir cuenta</button>
        </form>



    </main>
    <footer class="footer">
        <div class="d-flex j-around">
            <img class="mt-20" width="40px" height="40px" src="/img/logo 1.png" alt="logo">
            <ul>
                <p>Aatencion al cliente:</p>
                <li>0810 999 6644</li>
                <li>LU-VI de 09:00 a 18:00</li>
                <li>SA de 9:00 a 13:00</li>
            </ul>
            <ul>
                <p>Venta telefonica:</p>
                <li>0810 222 3700</li>
                <li>LU-VI de 8:00 a 20:00</li>
                <li>SA-DO-Feriados 9:00 a 21:00</li>
            </ul>
            <ul>
                <li>Comprar en newhomearg.com.ar</li>
                <li>Trabaja con nosotros</li>
                <li>ofertas y promociones</li>
            </ul>
        </div>
        <div class="d-flex  j-between">
            <p class="">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                a la
                verificacion de stock</p>
            <form class="w-60 justi-end d-flex" action="">
                <input placeholder="Ingresa tu email" type="text">
            </form>
            <ul class="d-flex">
                <li><i class="fa-brands fa-whatsapp i"></i></li>
                <li><i class="fa-brands fa-facebook i2"></i></li>
                <li><i class="fa-brands fa-instagram i3"></i></li>
            </ul>
        </div>

    </footer>

</body>

</html>