.header__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: column;
}

.section__text{ 
    text-align: center;
}

.section__menu{
    text-align: center;
}

.section__pl-100{
    display: none;
}

.section__d-flex__justi-end{
    display: none;
}


/* MAIN */


.main__section__banner__img{
    width: 100%;
}
.main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: column;
    border-bottom: 1px solid gray;;
}

.main__section h2{
    padding: 10px;
} 

.main__section__caja{
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px;
}

.main__section__img{
    width: 100%;
}

.main__section__texto{
    padding: 10px;
}

.main__section__img__banner{
    margin: 10px 0 10px 0;
    padding: none;
}

.main__section__banner__img__2{
    width: 100%;
}

.main__section__logo{
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
    width: 30%;
}


/* FOOTER */

.footer__p{
    text-align: center;
    padding-top: 10px;
}

.footer__section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__tex{
    padding: 10px;
    column-count: 2;
    column-gap: 10px;
    font-size: small;
    margin-right: 10px;
}

.footer__section__logos{
    margin-left: 70%;
}

.footer__section__buscador{
    order: 1;
    padding-top: 5px;
    column-count: 2;
     margin-right: 14%;
}

.footer__section__buscador p{
    font-size: 10px;
    margin-left: 30%;
}

