.header{
    background-color: #72223E;
}
.logo{
    border: 1px solid red;
}

.lupa{
    border: 1px solid red;
}

.menu{
    border: 1px solid red;
}

.footer{
    background-color: #c9c9c9;
}

.logo2{
    border: 1px solid red;
}

.client{
    border: 1px solid red;
}

.telefonica{
    border: 1px solid red;
}

.newhome{
    border: 1px solid red;
}

.lupa2{
    border: 1px solid red;
}

.redes{
    border: 1px solid red;
}

.info{
    border: 1px solid red;
}